<div align="center">
  <legend>Contact</legend>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <fieldset>
      <div class="control-group">
        <div class="controls">
        <%= f.input :nom, :required => true, label_html: { class: 'control-label' }, input_html: { class: 'span4' }  %>
        </div>
      </div>
        <div class="control-group">
          <div class="controls">
      <%= f.input :email, :required => true, label_html: { class: 'control-label' }, input_html: { class: 'span4' } %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
      <%= f.input :message, :as => :text, :required => true, label_html: { class: 'control-label' }, input_html: { class: 'span4' } %>
          </div>
        </div>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        <br />
        <%= f.button :submit, 'Envoyer', :class=> "btn btn-primary" %>
      </div>
      </fieldset>

  <% end %>
</div>