<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%= titre %></title>
  <!-- CSS généraux -->
  <%= stylesheet_link_tag 'bootstrap.min', 'style', media: 'all' %>

  <!-- CSS Polices d'écriture -->
  <%=stylesheet_link_tag "http://fonts.googleapis.com/css?family=Chewy", "http://fonts.googleapis.com/css?family=Montserrat",
                         "http://fonts.googleapis.com/css?family=Terminal+Dosis+Light", "http://fonts.googleapis.com/css?family=Maven+Pro" %>
  <meta name="description" content="Développeur freelance full stack en Ruby et PHP">
  <meta name="author" content="Joseph Levarato">
  <meta name="generator" content="Rubymine 8.0.3">
  <meta name="geo.region" content="FR" />
  <meta name="geo.placename" content="Lyon" />
  <meta name="keywords" content="developpeur web freelance, webmaster freelance, lyon, developpeur ruby php, webmaster freelance, developpeur freelance Lyon, Joseph Levarato">
  <meta content="jd.levarato@gmail.com" name="dc.creator">
  <meta content="2016" name="dc.date">

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <!-- logo + nom -->

    <div class="row">
      <div class="col-md-12 header">
        <div class="logo">
          <%= link_to image_tag("jl"), "/"%>
          <%= link_to("Joseph Levarato", "/", class: 'link')%>
        </div>
      </div>

      <!-- Barre de navigation -->

      <div class="col-md-12 nav">
        <div class="navbar">
          <ul class="nav nav-pills navbar-justified">
            <li class="dropdown"><%=link_to("Accueil", "/", class: 'link')%></li>
            <li class="dropdown"><%=link_to("À propos", "/about", class: 'link')%></li>
            <li class="dropdown"><%=link_to("Contact", "/contact", class: 'link')%></li>
            <li class="dropdown"><%=link_to("CV", "CVJosephLevarato.pdf", target: '_blank', class: 'link')%></li>
          </ul>
        </div>
      </div>
    </div> <!-- /row -->

    <!-- contenu-->
    <div class="row body">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


      <% if flash[:success] %>
          <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>



      <%=yield %>
    </div>

    <!--footer -->
    <div class="row footer">
      <div class="col-md-4 ">
        <h2>Le site</h2>
        <p>Ce site internet a été réalisé grâce à Ruby v. 2.2.3 et Ruby on Rails v.4.2.5. Ce site a vocation d'être une sandbox
        afin que je puisse moi-même me perfectionner sur ce langage possédant un potentiel immense.</p>
      </div>
      <div class="col-md-4">
        <h2>Information</h2>
        <p>17, Boulevard Yves Farges<br/>
        69007 - Lyon <br />
        06 75 56 62 62<br/>
        N° SIRET : 818 885 907 00019<br />
        <%=link_to("jd.levarato@gmail.com", "mailto:jd.levarato@gmail.com", class: 'link-footer')%></p>

      </div>
      <div class="col-md-4">
        <h2>Détails</h2>
        <ul class="details">
          <li><%=link_to("Accueil", "/", class: 'link-footer')%></li>
          <li><%=link_to("À propos", "/about", class: 'link-footer')%></li>
          <li><%=link_to("CV", "CVJosephLevarato.pdf", target: '_blank', class: 'link-footer')%></li>
          <li><%=link_to("Contact", "/contact", class: 'link-footer')%></li>
        </ul>
      </div>
    </div> <!-- /container -->
  </div> <!-- /container -->

<!-- Chargement du javascript -->
<%= javascript_include_tag 'jquery.min', 'bootstrap.min', 'script.js' %>

</body>
</html>

